.navbar{

position:sticky;
top:0;

width:100%;

background:#fff;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 8%;

box-shadow:0 2px 10px rgba(0,0,0,.08);

z-index:999;

}

.logo{

font-size:28px;

font-weight:700;

}

.logo span{

color:#16A34A;

}

.nav-links{

display:flex;

gap:35px;

align-items:center;

}

.nav-links li{

list-style:none;

}

.nav-links a{

text-decoration:none;

color:#1E293B;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#16A34A;

}

.resume-btn{

padding:12px 24px;

background:#16A34A;

color:white;

border-radius:8px;

text-decoration:none;

transition:.3s;

}

.resume-btn:hover{

background:#15803D;

}

.mobile-resume{

display:none;

}

.hamburger{

display:none;

font-size:28px;

cursor:pointer;

}

/* Mobile */

@media(max-width:992px){

.resume-btn{

display:none;

}

.hamburger{

display:block;

}

.nav-links{

position:fixed;

top:72px;

left:-100%;

width:100%;

height:calc(100vh - 72px);

background:white;

display:flex;

flex-direction:column;

justify-content:flex-start;

align-items:center;

padding-top:50px;

gap:30px;

transition:.4s;

}

.nav-links.active{

left:0;

}

.mobile-resume{

display:block;

}

.mobile-resume a{

background:#16A34A;

color:white;

padding:12px 30px;

border-radius:8px;

}

}